body{
    background-color: #4c5255;
}

.papa{
    display: flex;
    flex-wrap: wrap;
} 
.uno{
    width: 15%;
    
}
.dos{
    width: 85%;
}
.div{

    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.card{
    width: 18rem;
}

